@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&family=Peralta&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: "Noto Sans Mono", monospace;
  background-image: url(/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
}

hgroup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 65px;
}

h1,
.number {
  font-family: "Peralta", cursive;
  font-size: 50px;
}

.number {
  margin-top: 25px;
}

p {
  font-size: 20px;
  font-weight: 600;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 80px;
}

/* section {
  flex: 0 0 30%;
} */

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 20%;
}

.right {
  flex: 0 0 30%;
}

.guess {
  padding: 15px 30px;
  border: none;
  font-size: 15px;
  border-radius: 25px;
}

.btn {
  padding: 20px 40px;
  border: none;
  border-radius: 25px;
  background-color: #7fffd4;
  font-size: 20px;
  font-family: "Noto Sans Mono", monospace;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #00ffff;
  box-shadow: 0 0 10px 10px lightgray;
}

.label-score {
  margin-top: 30px;
}

/***************
responsiveness
***************/
@media screen and (max-width: 700px) {
  .between {
    order: -1;
  }
  body {
    height: 100vh;
  }
  header {
    justify-content: center;
  }
  .again {
    margin-top: 20px;
  }
  hgroup {
    text-align: center;
    margin-top: 30px;
  }
  main {
    display: block;
  }
  section {
    flex: 0 0 75%;
  }
  .check {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .right {
    text-align: center;
  }
  .left {
    width: 70%;
    margin: auto;
  }
}