@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&family=Peralta&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Mono", monospace;
  background-image: url(/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}

header {
  display: flex;
  justify-content: space-between;
}

hgroup {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

h1 {
  font-family: "Peralta", cursive;
}
